<header class="directory-header{% if this.config.search.options_expanded %} directory-header--expanded-search{% endif %}">
    <div class="directory-header__intro">
        <h1>{{ this.title }}</h1>
        {% if this.get("description") %}<p class="section-description">{{ this.description }}</p>{% endif %}
    </div>
    {% if not this.config.search.options_expanded %}
        {% include "components/directory/search.html" %}
    {% endif %}
</header>
{% if this.config.search.options_expanded %}
    <div class="directory-toolbar directory-toolbar--expanded">
        {% include "components/directory/search.html" %}
        {% if this.config.book_view_toggle %}
            {% include "components/directory/book_view_toggle.html" %}
        {% elif this.config.package_view_toggle %}
            {% include "components/directory/package_view_toggle.html" %}
        {% endif %}
    </div>
{% endif %}
